@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;600;700&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  font-family: "Hind Siliguri", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
section {
  padding: 50px 0;
}

/* Media query for screens smaller than a certain width */
@media screen and (max-width: 768px) {
  section {
    padding: 20px 0; /* Adjusted padding for mobile */
  }
}
.container {
  margin: 0 auto;
}
.section_heading {
  font-size: 45px;
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 50px;
  width: auto;
}
.image-gallery-thumbnail {
  width: 50px;
}
.dashboard-image-control
  .image-gallery-content.image-gallery-thumbnails-bottom
  .image-gallery-slide
  .image-gallery-image {
  height: 80px;
}
.image-gallery-content.image-gallery-thumbnails-bottom
  .image-gallery-slide
  .image-gallery-image {
  height: 200px;
}
.image-gallery-content.image-gallery-thumbnails-bottom.fullscreen
  .image-gallery-slide
  .image-gallery-image {
  height: 100%;
}

.fixed-button {
  position: fixed;
  top: 80px;
  right: 20px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.9);
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
