@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;600;700&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  font-family: "Hind Siliguri", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
section {
  padding: 50px 0;
}
.container {
  margin: 0 auto;
}
.section_heading {
  font-size: 45px;
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 50px;
  width: auto;
}
.image-gallery-thumbnail {
  width: 50px;
}

.image-gallery-content.image-gallery-thumbnails-bottom
  .image-gallery-slide
  .image-gallery-image {
  height: 200px;
}
.image-gallery-content.image-gallery-thumbnails-bottom.fullscreen
  .image-gallery-slide
  .image-gallery-image {
  height: 100%;
}
